.progress-bar {
	border-radius: 0.25rem;
}


.bg-gray {
	background: var(--bs-dark);
}


.bg-color {
	background: var(--bs-primary)
}

.child-gray {
	color: var(--bs-dark);
}

.child-color {
	color: var(--bs-primary)
}