.progress-bar {
	border-radius: 0.25rem;
}


.bg-gray {
	background: var(--bs-dark);
}


.bg-color {
	background: var(--bs-primary)
}

.child-gray {
	color: var(--bs-dark);
}

.child-color {
	color: var(--bs-primary)
}

.pokeStatRow {
	height: 1rem;
	margin: 0.25rem 0;
	font-size: 0.75rem;
}

.collapsible-pokebar {
	margin: 0;
	padding: 0;
	transition: width 2s ease;
}